.control {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  padding: .4rem 0;
  margin-bottom: 2rem;
}

.control button {
  width: 24vw;
  height: 12vw;
  background-color: #222;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  opacity: .7;
  box-shadow: 3px 3px 2px white;
}

.settings-icon {
  padding: .5rem;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 3px 3px 2px white;
  background-color: #222;
}

@media screen and (min-width: 768px) {
  .control {
    justify-content: center;
    gap: 8rem;
  }

  .control button {
    width: 7rem;
    height: 3rem;
  }
}