main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.fretboard {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.2rem;
}

.note {
  width: 14vw;
  height: 14vw;
  margin-bottom: 1rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 700;
  font-size: 3.8vw;
}

.faded-note {
  opacity: 0.2;
}

.note:nth-child(1),
.note:nth-child(2),
.note:nth-child(3),
.note:nth-child(4),
.note:nth-child(5),
.note:nth-child(6) {
  background-color: #4444;
}

.rotated {
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .note {
    width: 4rem;
    height: 4rem;
    font-size: large;
  }
}


@media screen and (min-width: 992px) {
  .note {
    width: 3.2rem;
    height: 3.2rem;
    font-size: large;
  }
}