main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.fretboard {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
}

.note {
  width: 14vw;
  height: 14vw;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 700;
  font-size: 3.4vw;
}

.faded-note {
  opacity: 0.2;
}

.note:nth-child(1),
.note:nth-child(2),
.note:nth-child(3),
.note:nth-child(4),
.note:nth-child(5),
.note:nth-child(6) {
  background-color: #444B;
}
